@font-face { font-family: Joystix; src: url('joystix monospace.ttf'); }

audio {
    position: absolute;
}

body {
    background-color: rgb(0, 0, 0);
        background-image: url(./pixel_stars.png);
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        background-position: center;
        background-size: contain;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 150px 160px 60px;
    font-family: Joystix;
    font-size: 15px;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

    .pop-up-container {
        display: none;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 170px;
        width: 550px;
    }

    #pop-up-container-boss {
        display: none;
        position: absolute;
        top: 45%;
        left: 15%;
        transform: translate(-50%, -50%);
        height: 170px;
        width: 510px;
    }

        .pop-up {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(120, 120, 120);
            background-image: url(./pixel_metal_plate1.png);
                background-repeat: no-repeat;
                image-rendering: pixelated;
                image-rendering: -moz-crisp-edges;
                image-rendering: crisp-edges;
                background-position: center;
                background-size: cover;
            width: 100%;
            height: 100%;
            border-radius: 25px 25px 25px 25px;
            box-shadow: 0px 8px rgb(28, 28, 28);
        }

            form {
                text-align: center;
                font-size: 18px;
            }

                #selectShip {
                    height: 30px;
                    width: 40px;
                    outline: none;
                    border: 3px solid rgb(110, 110, 110);
                }

                #selctGun {
                    height: 30px;
                    width: 40px;
                    outline: none;
                    border: 3px solid rgb(110, 110, 110);
                }

                #useMissiles {
                    transform: scale(1.7);
                    margin-bottom: 15px;
                }

                #useMissilesBoss {
                    transform: scale(1.7);
                    margin-bottom: 15px;
                }

                .submitButton {
                    height: 30px;
                    width: 80px;
                    font-family: Joystix;
                    border-radius: 25px 25px 25px 25px;
                    box-shadow: 0px 2px rgb(28, 28, 28), 0px 4px 5px rgb(28, 28, 28);
                }

header {
    background-color: rgb(168, 6, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 0px 0px 50px 50px;
}

#alienShipsContainer {
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    width: inherit;
}

    .alienDiv {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
        color: white;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        font-size: 12px;
    }

        .alienShipPicture {
            height: 25%;
        }

        .alienMotherShipPicture {
            height: 100%;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
            margin-bottom: -100px;
        }

#buttonDiv {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    button {
        border: 0px;
        background-color: rgb(120, 120, 120);
        background-image: url(./pixel_metal_plate1.png);
            background-repeat: no-repeat;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
            background-position: bottom;
            background-size: 350%;
        height: 50px;
        width: 100px;
        text-align: center;
        font-size: 20px;
        font-family: Joystix, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        display: inline;
        box-shadow: 0px 4px rgb(28, 28, 28);
        color: black;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-width: .2px;
        -webkit-text-stroke-color: rgb(28, 28, 28);
        border-radius: 25px 25px 22px 22px;
    }

        button:hover {
            height: 45px;
            width: 98px;
            background-color: rgb(95, 95, 95);
            box-shadow: 0px 4px rgb(24, 24, 24);
            margin-top: 2.5px;
        }

#playerShipDiv {
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #playerShipPicture {
        padding-left: 13px;
        height: 70%;
    }

    #playerData {
        background-image: linear-gradient(rgb(15, 15, 15, .5), rgb(15, 15, 15, .9));
        /* background-color: rgb(15, 15, 15, .9); */
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        box-shadow: inset 0px -6px 20px rgb(6, 6, 6);
    }

        #playerData > h2{
            margin: 0;
        }

        #shipHull {
            color: green;
        }

        #shields {
            color: rgb(114, 114, 255);
        }

#currentRoundDiv {
    color: white;
    height: 70%;
    width: 230px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}

#currentPointsDiv {
    color: white;
    height: 70%;
    width: 230px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
}

footer {
    background-color: rgb(18, 18, 113, .9);
    text-align: center;
    color: rgb(255, 255, 156);
    font-size: 10px;
    box-shadow: inset 0px -6px 20px rgb(18, 18, 62);
}

#bossGuns {
    display: flex;
    gap: 40px;
}

#bossGuns div:nth-child(2) {
    margin-right: 215px;
}

#recharge {
    transform: scale(1.7);
    margin-bottom: 15px;
}